.slide {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  padding: 12px;
  background-color: #022735;
  perspective: 1200px;
}

.hi {
  color: #f1cb97;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.message {
  width: 90%;
  background: #104e65;
  padding: 2px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 24px;
  overflow: clip;
  transform-style: preserve-3d;
  animation: povorot 8s ease-in-out infinite alternate forwards;
}

@keyframes povorot {
  0% {
    transform: rotateY(30deg) rotateX(30deg) scale(0.9);
  }

  100% {
    transform: rotateY(-30deg) rotateX(10deg) scale(1.1);
  }
}

.image {
  width: 100%;
  border-radius: 22px;
}

.text {
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-inline: 12px;
  margin-bottom: 8px;
}

.nameWrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.name,
.time {
  color: #f1cb97;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-inline: 12px;
  margin-top: 8px;
}

.time {
  opacity: 0.7;
}
