.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1.5fr;
  padding: 12px;
}

.caption {
  color: #01323f;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  align-self: center;
}

.year {
  color: #01323f;
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -8px;
  margin-top: -34px;
}

.label {
  color: #01323f;
  opacity: 0.8;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
}

.value {
  color: #01323f;
  font-family: "Playfair Display";
  font-size: 50px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1px;
  margin-top: -15px;
}

.grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-items: center;
}

.span2 {
  grid-column: 1 / span 2;
}
