.slide {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 2fr 1fr;
  padding: 12px;
}

.total {
  color: #022735;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 132px;
  font-weight: 900;
  line-height: normal;
  mask-image: linear-gradient(
    to bottom,
    transparent 20%,
    black 50%,
    black 90%,
    transparent 100%
  );
}

.totalChar:not(:last-of-type) {
  margin-right: -16px;
}

.caption {
  color: #022735;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
