.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrap {
  width: 100%;
  padding-inline: 12px;
  padding-block-start: 70px;
  padding-block-end: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.8), transparent);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(38px);
    mask-image: linear-gradient(to top, black 0%, black 45%, transparent 80%);
  }
}

.name {
  color: #f1cb97;
  text-align: center;
  text-shadow: 0 0 20px #f1cb97;
  font-family: "Playfair Display";
  font-size: 52px;
  font-style: italic;
  font-weight: 700;
  line-height: 58px;
}

.movie {
  color: #f1cb97;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.caption {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
