.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: 1.5fr 1fr 1fr;
  padding: 12px;
  perspective: 1200px;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 12%,
      rgb(243, 197, 147) 12%,
      rgb(243, 197, 147) calc(12% + 2px),
      transparent calc(12% + 2px),
      transparent calc(12% + 6px),
      rgb(243, 197, 147) calc(12% + 6px),
      rgb(243, 197, 147) calc(12% + 8px),
      transparent calc(12% + 8px),
      transparent 100%
    ),
    linear-gradient(180deg, rgb(251, 238, 159) 12%, transparent 12%),
    repeating-linear-gradient(
      180deg,
      rgb(201, 215, 152) 0px,
      rgb(201, 215, 152) 2px,
      transparent 2px,
      transparent 32px
    ),
    linear-gradient(rgb(251, 238, 159), rgb(251, 238, 159));
}

.total {
  color: #022735;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 132px;
  font-weight: 900;
  line-height: normal;
  mask-image: linear-gradient(
    to bottom,
    transparent 20%,
    black 50%,
    black 90%,
    transparent 100%
  );
}

.totalChar:not(:last-of-type) {
  margin-right: -16px;
}

.caption {
  color: #01323f;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
