.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: end;
  grid-template-rows: 2fr 1fr;
  padding: 12px;
  perspective: 1200px;
  background: radial-gradient(
      95.38% 59.3% at 46.67% 83.42%,
      #f5ddbb 25.96%,
      rgba(245, 221, 187, 0) 44.71%
    ),
    radial-gradient(
      circle at 90.69% 79%,
      #8ab1b7 0%,
      rgba(138, 177, 183, 0) 51.42%
    ),
    radial-gradient(
      circle at 25% 51.42%,
      #f7e3c7 0%,
      rgba(247, 227, 199, 0) 51.42%
    ),
    radial-gradient(
      circle at 79.72% 20.33%,
      #f5ddbb 9.62%,
      #cea770 52.88%,
      rgba(245, 221, 187, 0) 64.9%
    ),
    #f5ddbb;
  &::after {
    content: "";
    position: absolute;
    top: 20%;
    z-index: -999;
    aspect-ratio: 3/2;
    width: 90%;
    border-radius: 24px;
    background: conic-gradient(
      from -60deg at 50% 50%,
      #012634 0deg,
      #4d8189 360deg
    );
    animation: votEtoPovorot 8s ease-in-out infinite alternate forwards;
    transform-style: preserve-3d;
  }
}

@keyframes votEtoPovorot {
  0% {
    transform: rotateY(0deg) rotateZ(-60deg) scale(0.8);
    filter: blur(0px);
  }

  100% {
    transform: rotateY(180deg) rotateZ(-40deg) scale(1.4);
    filter: blur(8px);
  }
}

.total {
  color: #022735;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 132px;
  font-weight: 900;
  line-height: normal;
}

.totalChar:not(:last-of-type) {
  margin-right: -16px;
}

.caption {
  color: #01323f;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  align-self: center;
}
