.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: 2fr 1fr;
  padding: 12px;
  perspective: 1200px;
  background-color: hsla(35, 74%, 84%, 1);
  background-image: radial-gradient(
      at 19% 47%,
      hsla(23, 44%, 89%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 82% 83%, hsla(38, 39%, 45%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 14%, hsla(34, 49%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 92% 54%, hsla(188, 23%, 63%, 1) 0px, transparent 50%);
  &::after {
    content: "";
    position: absolute;
    aspect-ratio: 3/2;
    width: 90%;
    z-index: -1;
    top: 20%;
    border-radius: 24px;
    background: conic-gradient(
      from -60deg at 50% 50%,
      #012634 0deg,
      #4d8189 360deg
    );
    animation: votEtoPovorot 8s ease-in-out infinite alternate forwards;
    transform-style: preserve-3d;
  }
}

@keyframes votEtoPovorot {
  0% {
    transform: rotateY(0deg) rotateZ(-60deg) scale(0.8);
    filter: blur(0px);
  }

  100% {
    transform: rotateY(180deg) rotateZ(-40deg) scale(1.4);
    filter: blur(8px);
  }
}

.total {
  color: #022735;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 132px;
  font-weight: 900;
  line-height: normal;
  align-self: end;
  mask-image: linear-gradient(
    to bottom,
    transparent 20%,
    black 50%,
    black 90%,
    transparent 100%
  );
}

.totalChar:not(:last-of-type) {
  margin-right: -16px;
}

.caption {
  color: #01323f;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
