.empty {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.wrap {
  text-align: center;
  padding-inline: 12px;
}

.symbol {
  font-family: system-ui, sans-serif;
  font-size: 65px;
}

.text {
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7em;
}
