.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 2fr 1fr;
  padding: 12px;
}

.total {
  color: #2b1c07;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 132px;
  font-weight: 900;
  line-height: normal;
  animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.caption {
  color: #2b1c07;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
