.section {
  overflow: clip;
  user-select: none;
  -webkit-user-select: none;
  max-width: 600px;
  margin: auto;
  height: 90%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 24px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
