.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  display: grid;
  place-items: center;
  grid-template-rows: 2fr 1fr 2fr;
}

.hi {
  color: #f1cb97;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titles {
  color: #011921;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 1em;
  overflow: clip;
  padding-inline: 12px;
  mask-image: linear-gradient(
    to bottom,
    transparent 12%,
    black 22%,
    black 78%,
    transparent 88%
  );
  height: 6em;
  /* mix-blend-mode: multiply; */
  & > div {
    animation: marquee 12s linear infinite;
  }
  & > div > div {
    margin-block: 32px;
  }
}

@keyframes marquee {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.caption {
  color: #f1cb97;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7em;
  padding: 12px;
}
