*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  scrollbar-width: none;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: black;
  height: 100dvh;
  &::-webkit-scrollbar {
    display: none;
  }
}
