.slide {
  position: relative;
  isolation: isolate;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 2fr 1fr 1fr;
  padding: 12px;
}

.svg {
  width: 190px;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.25);
  filter: drop-shadow(0 0 10px #f1cb97);
  animation: flip-vertical-right 8s cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@keyframes flip-vertical-right {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.hi {
  color: #f1cb97;
  text-shadow: 0 0 20px #f1cb97;
  font-family: "Playfair Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name {
  color: #f1cb97;
  text-shadow: 0 0 20px #f1cb97;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin-top: -10px;
}

.caption {
  color: #01323f;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7em;
}
