.slide {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 2fr 1fr;
  padding: 12px;
  background: #022735;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  perspective: 1200px;
}

.message {
  width: 80%;
  background: #104e65;
  padding: 2px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 24px;
  overflow: clip;
  transform-style: preserve-3d;
  animation: povorot 8s ease-in-out infinite alternate forwards;
}

@keyframes povorot {
  0% {
    transform: rotateY(30deg) rotateX(30deg) scale(0.9);
  }

  100% {
    transform: rotateY(-30deg) rotateX(10deg) scale(1.1);
  }
}

.image {
  width: 100%;
  border-radius: 22px;
}

.text,
.total {
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-inline: 12px;
}

.total {
  display: inline-block;
  border-radius: 999px;
  background-color: hsla(0, 0%, 0%, 0.2);
  padding-bottom: 4px;
  padding-top: 2px;
}

.name {
  color: #f1cb97;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-inline: 12px;
  margin-top: 8px;
}

.hi {
  color: #f1cb97;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding-inline: 12px;
  padding-block-start: 8px;
  padding-block-end: 12px;
}
